<% include layout-head %>

<h2><%- header %></h2>
<div>
    <p>This website is for the University of Edinburgh, School of Informatics
    course <em>System Large Integration Practical</em> (SLIP) - 2013/2014</p>

    <p>This server acts as an interface for the database storing customer's
    positions in the supermarket, and for the Android phone app clients. It was
    built with Node.js and code will be available after the course's completion
    </p>
</div>

<% include layout-foot %>
