<!DOCTYPE html>
<html>

<head>
    <meta charset'utf-8'>
    <title><%- title %></title>
    <link rel="stylesheet" type="text/css" href="style/css/topcoat-mobile-light.min.css">
    <link rel="stylesheet" type="text/css" href="style/css/main.css">
    <link rel="stylesheet" type="text/css" href="style/css/brackets.css"><!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body class="light">
<div id="wrapper">

    <header id="main-header">
        <div class="max-width">
            <hgroup>
                <h1><a href="http://slip-msanatan.rhcloud.com">SLIP Server</a></h1>
                <p>Supermarket user monitoring</p>
            </hgroup>

            <nav>
                <ul>
                    <li><a href="http://slip-msanatan.rhcloud.com/">Home</a></li>
                    <li><a href="http://slip-msanatan.rhcloud.com/about">About</a></li>
                    <li><a href="http://slip-msanatan.rhcloud.com/contact">Contact</a></li>
                    <li><a href="http://slip-msanatan.rhcloud.com/admin">Admin</a></li>
                </ul>
            </nav>
          </div>
    </header>

    <div id="content">


